<nav>
    <ul class="navbar back-color-dark">
        <li routerLinkActive="active">
            <a routerLink="/main" class="pages color-light text-style">Аудару</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/add" class="pages color-light text-style">Сөз қосу</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/all-words" class="pages color-light text-style">Барлық сөздер</a>
        </li>
        <li routerLinkActive="active" class="label">    
            <a routerLink="/" class="color-light text-style">Qazyna</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>

<footer>
    <ul class="navbar back-color-dark">
        <li routerLinkActive="active">
            <a class="pages color-light text-style" style="font-size: 2vmin;">qazyna@gmail.com</a>
        </li>
        <li routerLinkActive="active" class="label">    
            <a routerLink="/" class="color-light text-style">Qazyna</a>
        </li>
    </ul>
</footer>